<p id="notice"><%= notice %></p>

<h4>A fast and easy way to capture your claim photos and documents</h4>
<div>
  <span>Photos upload/capture</span>
</div>
<div>
  <div class="image">
    <% @posts.each do |post| %>
      <div class="insert-image col-md-6 col-sm-6 col-xs-12 col-lg-6">
        <div class="overlay-image-circle">
          <%= image_tag post.image.url(:medium) %>
        </div>
        <%= image_tag post.image.url(:medium) %>
      </div>
    <% end %>
    <%= render 'form', post: @post %>
  </div>
</div>
